.container
  .content
    =render :partial => '/common/page_header', :locals => {:title => @learning.discipline, :subtitle => @learning.category}
  .learning-objective
    - if @learning.pending?
      .alert-message.block-message.info
        %p
          %strong This learning is currently pending. 
        .clearfix
        %p
          Until we settle on a final description of the learning we won't let you self assess against it.
        .clearfix
        %p
          If you have an opinion about this learning, you should join the discussion below.
        .clearfix
        %p
        - if current_user.admin?
          = link_to 'Edit Learning Objective', edit_learning_path(@learning.id), :id => 'edit_learning'
          = link_to 'Approve', approve_learning_path(@learning.id), :method => :put, :id => 'approve_learning', :class => 'float-right'
    %p= @learning.brief
  .disqus
    %hr
    :plain
      <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'learntesting'; // required: replace example with your forum shortname

            // The following are highly recommended additional parameters. Remove the slashes in front to use.
            var disqus_identifier = 'http://learn.cromulent-testing.com/learnings/#{@learning.id}';
            var disqus_url = 'http://learn.cromulent-testing.com/learnings/#{@learning.id}';

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
