- semantic_form_for(@lo, :url => 'create', :method => :post, :remote => true) do |f|
  = f.input :brief, :as => :text, :label => false, :hint => I18n.t('learning_objective.propose.labels.brief'), :required => false, :wrapper_html => {:class => 'lo_propose'}
  .pad_from_top
  #discipline_definition
    =render :partial => 'definitions', :locals => {:definitions => @discipline_definitions}
  = f.input :discipline, :label => I18n.t('learning_objective.propose.labels.discipline'), :required => false, :as => :radio, :collection => @discipline_values, :wrapper_html => {:class => 'lo_propose'}
  .pad_from_top
  #category_definition
    =render :partial => 'definitions', :locals => {:definitions => @category_definitions}
  = f.input :category, :label => I18n.t('learning_objective.propose.labels.category'), :required => false, :as => :radio, :collection => @category_values, :wrapper_html => {:class => 'lo_propose'}
  .pad_from_top
  - f.buttons do
    = f.commit_button(:label => I18n.t('learning_objective.propose.labels.save'))

- @discipline_values.each do |discipline|
  :javascript
    //display definition (default)
    if ("#{discipline}" == "#{@discipline_values.first}")
    {
      $(document).ready(function() {
        $("#discipline_definition").find("p.title").html("#{discipline}")
        $("#discipline_definition").find("p.definition_text").html("#{@discipline_definitions[discipline]}")
      });
    }

    //display definition (on selection)
    $("input#learning_objective_discipline_#{valid_dom_id(discipline)}").click(function () {
      $("#discipline_definition").find("p.title").html("#{discipline}")
      $("#discipline_definition").find("p.definition_text").html("#{@discipline_definitions[discipline]}")
    });

- @category_values.each do |category|
  :javascript
    //display definition (default)
    if ("#{category}" == "#{@category_values.first}")
    {
      $(document).ready(function() {
        $("#category_definition").find("p.title").html("#{category}")
        $("#category_definition").find("p.definition_text").html("#{@category_definitions[category]}")
      });
    }

    //display definition
    $("input#learning_objective_category_#{valid_dom_id(category)}").click(function () {
      $("#category_definition").find("p.title").html("#{category}")
      $("#category_definition").find("p.definition_text").html("#{@category_definitions[category]}")
    });