#panel{:class => ["panel", lo.pending == true ? "pending" : ""]}
  %span#category_new= lo.category.first.upcase
  - if lo.pending?
    %p#pending
      This learning objective is not yet approved.
      //= search_url("Hide pending learning objectives?", @q, @disciplines, @categories, 'false')
      = link_to "Approve this learning objective?", ajax_update_lo_url(lo.id, :pending => 'false'), :remote => true, :method => :post
      = form_tag(update_lo_url(lo.id), :method => :post, :remote => true) do
        = hidden_field_tag('pending', false)
        = submit_tag("Approve this learning objective?")
  %p#brief= lo.brief
  %span#category= lo.category.upcase
  %span#discipline= lo.discipline.upcase
  .pad