- link ||= nil #we don't always get a undo/redo link
#panel{:class => ["panel", lo.pending == true ? "pending" : ""]}
  %span#category_new= lo.category.first.upcase
  - if lo.pending?
    %p#pending
      This learning objective is not yet approved.
      = link_to "Approve this learning objective?", update_lo_path(lo.id, :pending => 'false'), :remote => true, :method => :post
  - unless link.nil?
    %p= link.html_safe
  %p#brief= lo.brief
  %span#category= lo.category.upcase
  %span#discipline= lo.discipline.upcase
  .pad