.search
  = form_tag('/learning_objective/search', :method => "get") do
    = label_tag(:q, "")
    = text_field_tag(:q, @q)
    = hidden_field_tag('disciplines', @disciplines)
    = hidden_field_tag('categories', @categories)
    = hidden_field_tag('show_pending', @show_pending)
    = submit_tag("Search")

.pad

- if @learning_objectives.empty?
  .list_summary
    .pad
- else
  .list_summary
    %p= "showing all #{@learning_objectives.count} results"

%nav.filter
  %ul.panel
    - @discipline_values.each do |discipline|
      %li
        - if (@disciplines & [discipline] == [discipline]) and (@disciplines.empty? == false)
          %span.include= search_url("#{discipline.downcase} [-]", @q, @disciplines - [discipline], @categories, @show_pending)
        - else
          %span.exclude= search_url("#{discipline.downcase} [+]", @q, @disciplines | [discipline], @categories, @show_pending)
  %ul.panel
    - @category_values.each do |category|
      %li
        - if (@categories & [category] == [category]) and (@categories.empty? == false)
          %span.include= search_url("#{category.downcase} [-]", @q, @disciplines, @categories - [category], @show_pending)
        - else
          %span.exclude= search_url("#{category.downcase} [+]", @q, @disciplines, @categories | [category], @show_pending)
  %ul.panel
    %li
      - if @disciplines.count == 0 and @categories.count == 0
        %span.exclude= search_url("clear filter", "", "", "", @show_pending)
      - else
        %span.include= search_url("clear filter", "", "", "", @show_pending)

    - if @show_pending == true
      %li
        %span= search_url("hide pending", @q, @disciplines, @categories, 'false')
    - else
      %li
        %span= search_url("show pending", @q, @disciplines, @categories, 'true')

.flash
  - flash.each do |key, value|
    %p{:class => key}
      %span= value.html_safe

.learning_objective
  - if @learning_objectives.empty?
    .notice.panel
      %p No learning objectives found. 
  %ul
    - @learning_objectives.each do |lo|
      %li{:class => ["panel", lo.pending == true ? "pending" : ""]}
        %span#category_new= lo.category.first.upcase
        - if lo.pending?
          %p#pending
            This learning objective is not yet approved.
            = search_url("Hide pending learning objectives?", @q, @disciplines, @categories, 'false')
            = form_tag("/learning_objective/#{lo.id}", :method => "post") do
              = hidden_field_tag('pending', false)
              = submit_tag("Approve this learning objective?")
        %p#brief= lo.brief
        %span#category= lo.category.upcase
        %span#discipline= lo.discipline.upcase
        .pad