.search
  = form_tag('/learning_objective/search', :method => "get") do
    = label_tag(:q, "")
    = text_field_tag(:q, @q)
    = hidden_field_tag('disciplines', @disciplines)
    = hidden_field_tag('categories', @categories)
    = submit_tag("Search")

.pad

- if @learning_objectives.empty?
  .list_summary
    .pad
- else
  .list_summary
    %p= "showing all #{@learning_objectives.count} results"

%nav.filter
  %ul.panel
    - @discipline_values.each do |discipline|
      %li
        - if (@disciplines & [discipline] == [discipline]) and (@disciplines.empty? == false)
          %span.include= link_to("#{discipline.downcase} [-]", "/learning_objective/search?q=#{@q}&disciplines=#{CGI::escape((@disciplines - [discipline]).to_param)}&categories=#{CGI::escape(@categories.to_param)}&show_pending=#{@show_pending}")
        - else
          %span.exclude= link_to("#{discipline.downcase} [+]", "/learning_objective/search?q=#{@q}&disciplines=#{CGI::escape((@disciplines | [discipline]).to_param)}&categories=#{CGI::escape(@categories.to_param)}&show_pending=#{@show_pending}")
  %ul.panel
    - @category_values.each do |category|
      %li
        - if (@categories & [category] == [category]) and (@categories.empty? == false)
          %span.include= link_to("#{category.downcase} [-]", "/learning_objective/search?q=#{@q}&disciplines=#{CGI::escape(@disciplines.to_param)}&categories=#{CGI::escape((@categories - [category]).to_param)}&show_pending=#{@show_pending}")
        - else
          %span.exclude= link_to("#{category.downcase} [+]", "/learning_objective/search?q=#{@q}&disciplines=#{CGI::escape(@disciplines.to_param)}&categories=#{CGI::escape((@categories | [category]).to_param)}&show_pending=#{@show_pending}")
  %ul.panel
    %li
      - if @disciplines.count == 0 and @categories.count == 0
        %span.exclude= link_to("clear filter", "/learning_objective/search?q=#{@q}&disciplines=&categories=&show_pending=#{@show_pending}")
      - else
        %span.include= link_to("clear filter", "/learning_objective/search?q=#{@q}&disciplines=&categories=&show_pending=#{@show_pending}")

    - if @show_pending == true
      %li
        %span= link_to("hide pending", "/learning_objective/search?q=#{@q}&disciplines=#{CGI::escape(@disciplines.to_param)}&categories=#{CGI::escape(@categories.to_param)}&show_pending=false")
    - else
      %li
        %span= link_to("show pending", "/learning_objective/search?q=#{@q}&disciplines=#{CGI::escape(@disciplines.to_param)}&categories=#{CGI::escape(@categories.to_param)}&show_pending=true")

.flash
  - flash.each do |key, value|
    %p{:class => key}
      %span= value.html_safe

.learning_objective
  - if @learning_objectives.empty?
    .notice.panel
      %p No learning objectives found. 
  %ul
    - @learning_objectives.each do |lo|
      %li{:class => ["panel", lo.pending == true ? "pending" : ""]}
        %span#category_new= lo.category.first.upcase
        - if lo.pending?
          %p#pending
            This learning objective is not yet approved.
            = link_to("Hide pending learning objectives?", "/learning_objective/search?q=#{@q}&discipline=#{CGI::escape(@disciplines.to_param)}&categories=#{CGI::escape(@categories.to_param)}&show_pending=false")
            = form_tag("/learning_objective/#{lo.id}", :method => "post") do
              = hidden_field_tag('pending', false)
              = submit_tag("Approve this learning objective?")
        %p#brief= lo.brief
        %span#category= lo.category.upcase
        %span#discipline= lo.discipline.upcase
        .pad