.container
  .content
    =render :partial => '/common/page_header', :locals => {:title => t('titles.user-home.title', :email => ""), :subtitle => t('titles.user-home.subtitle')}
  %ul.unstyled#user_disciplines
    - LearningObjective::DISCIPLINES.sort.each do |discipline|
      %li#user_disciple
        .media-user-discipline
          .row
            .span9
              %p.large
                %strong= link_to discipline, search_learnings_path(:q => discipline)
            .span6
              %p
                %strong Awareness:
                = awareness_range discipline
          .row
            .span9
              - count = LearningObjective.where(:discipline => discipline).count
              - pending_approval = LearningObjective.where(:discipline => discipline, :pending => true).count
              - assessed = current_user.learning_objectives.where(:discipline => discipline).select {|l| !current_user.get_assessment(l).not_assessed?}.count
              - assessment_pending = count - pending_approval - assessed
              - if count == assessed
                = "all learning objectives assessed (of #{count})"
              - else
                - if assessment_pending == 0
                  no assessments pending
                - else
                  = "you have #{pluralize(assessment_pending, 'assessment')} pending"
            .span6
              %p
                %strong Guidance:
                = guidance_range discipline
