.search
  = form_tag('/home/search', :method => "get") do
    = label_tag(:q, "") 
    = text_field_tag(:q, @q)
    = submit_tag("Search")

.pad

- unless @learning_objectives.empty?
  .list_summary
    %p= "showing all #{@learning_objectives.count} results"

.learning_objective
  - if @learning_objectives.empty?
    .notice.panel
      %p No learning objectives found. 
  %ul
    - @learning_objectives.each do |lo|
      %li.panel
        %span#category_new= lo.category.first.upcase
        %p#brief= lo.brief
        %span#category= lo.category.upcase
        %span#discipline= lo.discipline.upcase
        .pad

