.search
  = form_tag('/home/search', :method => "get") do
    = label_tag(:q, "Search for:") 
    = text_field_tag(:q, @q)
    = submit_tag("Search") 

.learning_objective
  - if @learning_objectives.empty?
    .notice
      %p No learning objectives found
  %ul
    - @learning_objectives.each do |lo|
      %li{:class => cycle("even", "odd")}
        %p#brief= lo.brief
        %span#category= lo.discipline

- unless @learning_objectives.empty?
  .list_summary
    %p= @learning_objectives.count