!!! html
%html
  %head
    %title Momentum
    = include_stylesheets :common
    = include_javascripts :production
    = include_javascripts :analytics if Rails.env.production?
    = csrf_meta_tag
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  %body{:style => "padding-top: 40px;"}
    =render :partial => '/common/menu'
    = yield

    :javascript
      jQuery(function($){
        $('.chzn-select').chosen();
      });