.container
  .content
    =render :partial => '/common/page_header', :locals => {:title => t('titles.user-registration.title'), :subtitle => t('titles.user-registration.subtitle')}
    .row
      .span16
        = semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name, :email_only => params[:email_only])) do |f|
          - if params[:email_only]
            - if resource.email.nil?
              .alert-message.block-message.error
                We couldn't get your email address from twitter. Please enter it below and we'll complete the sign up process.
            - else
              .alert-message.block-message.error
                An account with your email address already exists. If this is your account, type your password in and we'll link them.
          .clearfix
            = f.input :email, :as => :email, :label => I18n.t('form.user-email')
          - unless params[:email_only] and resource.email.nil?
            .clearfix
              = f.input :password, :as => :password, :label => I18n.t('form.user-password')
          - unless params[:email_only]
            .clearfix
              = f.input :password_confirmation, :as => :password, :label => I18n.t('form.user-confirm-password')
          .actions
            .input
              = f.submit I18n.t('actions.create-account'), :class => 'btn primary', :id => "create_account"
              - if devise_mapping.recoverable? && controller_name != 'passwords' && !params[:email_only]
                = link_to I18n.t('actions.forgot-password'), new_password_path(resource_name), :class => 'btn neutral'
            - unless params[:email_only]
              .input
                .clearfix
                %p Or sign in using:
                = link_to image_tag('twitter_64.png', :size => "64x64", :alt => "Twitter"), "/auth/twitter"
                = link_to image_tag('facebook_64.png', :size => "64x64", :alt => "Facebook"), "/auth/facebook"
                = link_to image_tag('github_64.png', :size => "64x64", :alt => "Github"), "/auth/github"